<div id="left-bubble"> <%= link_to experiences_path, :class => "option" do %>

	<p>I <br> GOT <br> PLAYED <br>...</p>

	<% end %>

</div>
    
 <div id="right-bubble"> <%= link_to '#', :class => "option" do %>
 	<p>AM <br> I <br> GETTING <br> PLAYED?</p> 
 	<% end %>
 </div>