<%= provide(:title, "All users") %> 

<div class="wrapper">
	<div class="listed">
		<p>Users Directory</p>
		<%= will_paginate @users %>
			<ul>
				<%= render @users %>
			</ul> 
		<%= will_paginate @users %>
	</div>
</div>