<% provide(:title, @user.name) %>
<div class="wrapper">
	<div id="username"><h1><%= link_to @user.name.upcase, @user %></h1></div>
	<div id="sidebar">
		<ul>
			<li><%= link_to 'Settings', edit_user_path(@user, current_user) %></li> 
			<li> <%= link_to 'My Posts', '#' %> </li>
			<li> <%= link_to  'Sign out', signout_path %></li>
		</ul>
	</div>
</div>
