/* mixins, vars, etc...*/


/* header */

body {
    margin: 0;
    padding:0;
    height:100%;
    font-family: 'Raleway', sans-serif;
}

a, a:visited {
    text-decoration:none;
    color: #000;
}

.navbar {
    height: 40px;
    background-color: #eeeeee;
    padding: 10px;
}

#logo{
    font-weight: 900;
    width: 200px;
    font-size: 20px;
    margin-top: -2px;
    margin-left: 4px;
}

.right-nav {
    float: right;
    list-style: none;
    margin-top: -20px;
}

.right-nav li{
    display: inline-block;
    margin-right: 20px;
}


/* body*/

#left-bubble {
    float: left;
    height: 500px;
    width: 500px;
    margin-top: 15px;
    border-radius: 250px;
    border: 10px solid #eeeeee;
    margin-left: 40px;
}

.option {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}
#right-bubble {
    float: right;
    height: 500px;
    width: 500px;
    margin-top: 15px;
    border-radius: 250px;
    border: 10px solid #eeeeee;  
    margin-right: 40px;
}

/*wrapper for other pages*/

.wrapper {
    
    width: 900px;
    margin: 0px auto;
    height: 100%;
    padding-bottom: 80px;
    p{
        font-size: 60px;
        font-weight: 900;
        line-height: 2;
    }
}

/* forms */

.form {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: -70px;
    p{
        margin-bottom: -10px;
    }
}
input, textarea{
    border: 1px solid #000;
    height: 35px;
    width: 300px;
    margin: 10px auto;
    display: block;
    text-align: center;
    font-size: 15px;
}

input:focus {
    outline:none;
}

.button-large {
    border-radius: 15px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    background-color: rgba(255,0,0, 0.8);
    font-size: 20px;
}

/* errors */

#error-explanation{
    color: #f00;
    ul{
        list-style: none;

    }
}

/* alerts */

.alert-success{
    background-color: rgba(144,238,144, 0.5);
    font-size: 20px;
}

.alert-error {
    background-color: rgba(255, 0, 0, 1);
    font-size: 20px;
}
/* footer */

.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    position: fixed;
    bottom:0;
    padding: 10px;
    background-color: #eeeeee;
    ul {
        list-style: none;
        margin: 0px;
        padding: 5px;
        li {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

/* misc */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    background-color: blue;
    height: 200px;
}
